%div.container
  %h1.text-center= "#{params[:show_name]} programme participants list"
- @participants.each do |participant|
  %div.container.well
    %div
      %h3=participant.name
      %p=participant.description
    %div.row
      %div.col-md-4
        =image_tag participant.image, class: "img-responsive"
      %div.col-md-8
        %div{ id: "video-assets-#{participant.person_tag}", class: "panel panel-primary" }
          %div.panel-heading
            Participant's videos
          %div.panel-body
            %p.text-center{ style: "min-height: 410px" }
              = image_tag participant.video_assets.first.image, class: "img-thumbnail"
              = link_to 'Play video >>', participant.video_assets.first.video(params[:show_name]), :target => "_blank"
            %div.text-center
              %ul.pagination
                - participant.video_assets.each_with_index do |video_asset, index|
                  %li
                    = link_to index, participant_url(params[:show_name], participant.person_tag, page: index), remote: true
